.App {
  text-align: center;
}

.App-header {
  background-color: #1d2027;
  padding: 20px;
  font-size: 35px;
}

.Board {
  max-width: 500px;
  margin: 40px auto;
}

.Row-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Row-wrapper > *,
.Keyboard-col > * {
  margin: 5px;
}

.Row-tile {
  font-weight: 900;
  font-size: 23px;
  border: 2px solid #15181d;
  background-color: #1d2027;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.Keyboard-wrapper {
  flex-direction: column;
}

.Keyboard-wrapper,
.Keyboard-col {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Keyboard-key {
  font-weight: 700;
  background-color: #818384;
  padding: 20px 15px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
